*
*/
!.gitignore
!LMPTCOTAZO-199_login.feature
!LMPTCOTAZO-200_prerequisites.feature
!LMPTCOTAZO-201_budget_creation_steps.feature
!LMPTCOTAZO-202_budget_creation.feature
!LMPTCOTAZO-203_budget_acceptance_flow.feature
!LMPTCOTAZO-204_budget_refusal_flow.feature
!LMPTCOTAZO-205_new_budget_version-budget_acceptance_flow.feature
!LMPTCOTAZO-206_new_budget_version-budget_refusal_flow.feature
!LMPTCOTAZO-207_support_request.feature
!LMPTCOTAZO-244_user_access_control.feature
!LMPTCOTAZO-248_user_profile_access_control.feature
!LMPTCOTAZO-252_user_group_access_control.feature
!test.feature
!LMPTCOTAZO-260_verify_dashboard_access.feature
!LMPTCOTAZO-265_verify_budget_access.feature
!LMPTCOTAZO-275_verify_configuration_access.feature
!LMPTCOTAZO-299_verify_analysis_access.feature
!LMPTCOTAZO-306_verify_support_request_access.feature
!LMPTCOTAZO-321_verify_contact _access.feature
!LMPTCOTAZO-349_budget_creation_steps_on_tablet.feature
!LMPTCOTAZO-361_budget_creation_steps_on_mobile.feature
!LMPTCOTAZO-371_budget_creation_on_tablet.feature
!LMPTCOTAZO-373_budget_creation_on_mobile.feature
!LMPTCOTAZO-376_support_request_on_tablet.feature
!LMPTCOTAZO-376_support_request_on_tablet.feature
!LMPTCOTAZO-382_support_request_on_mobile.feature
!set_default_values.feature